In [2]:
import os
import pandas as pd
import sys

 Small set (for regression): 5
        - insecurity.FOODINSEC_13_15
        - access.LACCESS_POP15
        - stores.GROCPTH14
        - socioeco.MEDHHINC15
        - access.LACCESS_LOWI15

In [5]:
access = pd.read_csv('../interim/access.csv')
insecurity = pd.read_csv('../interim/insecurity.csv')
socioeco = pd.read_csv('../interim/socioeconomic.csv')

,FIPS,State,County,PCT_NHWHITE10,PCT_NHBLACK10,PCT_HISP10,PCT_NHASIAN10,PCT_NHNA10,PCT_NHPI10,PCT_65OLDER10,PCT_18YOUNGER10,MEDHHINC15,POVRATE15,PERPOV10,CHILDPOVRATE15,PERCHLDPOV10,METRO13,POPLOSS10
0,1001,AL,Autauga,77.246156,17.582599,2.400542,0.855766,0.397647,0.040314,11.995382,26.777959,56580.0,12.7,0,18.8,0,1,0.0

In [31]:
access.tail()

,FIPS,State,County,LACCESS_POP10,LACCESS_POP15,PCH_LACCESS_POP_10_15,PCT_LACCESS_POP10,PCT_LACCESS_POP15,LACCESS_LOWI10,LACCESS_LOWI15,...,LACCESS_HISP15,PCT_LACCESS_HISP15,LACCESS_NHASIAN15,PCT_LACCESS_NHASIAN15,LACCESS_NHNA15,PCT_LACCESS_NHNA15,LACCESS_NHPI15,PCT_LACCESS_NHPI15,LACCESS_MULTIR15,PCT_LACCESS_MULTIR15
3138,56037,WY,Sweetwater,13391.715500,18934.737810,41.391428,30.570505,43.224074,2414.618816,4750.905615,...,2661.350520,6.075311,114.722086,0.261887,189.621441,0.432866,27.720443,0.063280,1605.391465,3.664775
3139,56039,WY,Teton,6212.423697,6212.390430,-0.000535,29.174527,29.174370,1059.463554,1577.771012,...,736.174507,3.457192,53.489780,0.251196,32.482255,0.152542,8.468847,0.039771,460.434464,2.162273
3140,56041,WY,Uinta,4270.147119,4686.017653,9.739021,20.220414,22.189685,1518.415783,2054.179828,...,535.616715,2.536304,13.831709,0.065497,40.339658,0.191020,6.586104,0.031187,350.320469,1.658871
3141,56043,WY,Washakie,931.411647,931.411647,0.000000,10.915407,10.915407,233.628356,309.030331,...,35.474502,0.415733,6.366775,0.074614,5.006976,0.058678,0.000000,0.000000,34.160542,0.400334
3142,56045,WY,Weston,1240.493102,1237.267037,-0.260063,17.209949,17.165192,287.543111,302.697580,...,28.073114,0.389472,2.771750,0.038454,10.372147,0.143898,0.507750,0.007044,24.811192,0.344217

In [37]:
access.groupby(['State'])['LACCESS_POP15'].sum()

State
AK    2.235501e+05
AL    9.629109e+05
AR    5.879211e+05
AZ    1.254358e+06
CA    4.323350e+06
CO    9.448245e+05
CT    1.033866e+06
DC    1.268828e+04
DE    1.753863e+05
FL    3.986500e+06
GA    2.382761e+06
HI    3.649800e+05
IA    5.661863e+05
ID    3.167899e+05
IL    2.295067e+06
IN    1.414338e+06
KS    6.791625e+05
KY    6.947722e+05
LA    1.060388e+06
MA    1.715211e+06
MD    1.176322e+06
ME    1.712665e+05
MI    2.083846e+06
MN    1.309334e+06
MO    1.321342e+06
MS    6.595423e+05
MT    2.323015e+05
NC    1.759416e+06
ND    1.759329e+05
NE    3.433415e+05
NH    3.427342e+05
NJ    1.990449e+06
NM    6.515768e+05
NV    4.125813e+05
NY    2.157895e+06
OH    2.636742e+06
OK    8.369085e+05
OR    6.184060e+05
PA    2.526792e+06
RI    2.348333e+05
SC    1.054357e+06
SD    2.472639e+05
TN    1.492078e+06
TX    5.726930e+06
UT    5.504411e+05
VA    1.443895e+06
VT    7.181731e+04
WA    1.493468e+06
WI    1.041086e+06
WV    3.259119e+05
WY    1.711019e+05
Name: LACCESS_POP15, dtype: float64

In [29]:
regression_short = pd.DataFrame()

regression_short['state_FOODINSEC_10_12'] = insecurity.groupby(['State'])['FOODINSEC_10_12'].head(1)
regression_short['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_short['state_LACCESS_POP15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_short['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_short['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_short['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_short['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)

regression_short.head(1)

   state_FOODINSEC_10_12  state_FOODINSEC_13_15
0                   17.9                   17.6