In [1]:
import os
import pandas as pd

Place holder. Change to reading from SQL csv.

In [8]:
access = pd.read_csv('../data/interim/access.csv')
insecurity = pd.read_csv('../data/interim/insecurity.csv')
resturants = pd.read_csv('../data/interim/resturants.csv')
socioeco = pd.read_csv('../data/interim/socioeconomic.csv')
stores = pd.read_csv('../data/interim/stores.csv')

In [12]:
def normalize_state_data(old_df, new_df, col_name, new_col_name):
    """Gives the state mean of county data for a given feature.
    
    Args:
        df(var): The name of the dataframe which you are pulling the col_name from.
        col_name(str): A given column name.
        new_col_name(str): A new name for the regression_short dataframe. Name must began with 'state_'.
    
    Returns:
        regression_short(dataframe): With a new column appended.
    """
    county_count_per_state = old_df.groupby(['State'])['FIPS'].count()
    temp = pd.DataFrame(old_df.groupby(['State'])[col_name].sum()/county_count_per_state)
    temp.reset_index(drop=True, inplace=True)
    
    if new_col_name not in list(new_df.columns):
        new_df[new_col_name] = temp[0]

Creating the dataframe for linear regression.

In [4]:
regression_short = pd.DataFrame()

regression_short['state'] = insecurity.groupby(['State'])['State'].head(1)
regression_short['state_FOODINSEC_10_12'] = insecurity.groupby(['State'])['FOODINSEC_10_12'].head(1)
regression_short['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_short.reset_index(drop=True, inplace=True)

normalize_state_data(access, regression_short, 'LACCESS_POP15', 'state_LACCESS_POP15')
normalize_state_data(access, regression_short, 'LACCESS_LOWI15', 'state_LACCESS_LOWI15')
normalize_state_data(socioeco, regression_short, 'MEDHHINC15', 'state_MEDHHINC15')
normalize_state_data(stores, regression_short, 'GROCPTH14', 'state_GROCPTH14')

,state,state_FOODINSEC_10_12,state_FOODINSEC_13_15,state_LACCESS_POP15,state_LACCESS_LOWI15,state_MEDHHINC15,state_GROCPTH14
0,AL,17.9,17.6,7708.624532,2241.191144,59520.448276,0.729979
1,AK,12.1,13.3,14371.804328,5651.092540,39830.104478,0.185682
2,AZ,19.7,19.2,7838.947589,3399.598632,38592.680000,0.185442
3,AR,14.9,14.9,83623.853433,32146.580382,44016.733333,0.152614
4,CA,15.6,12.6,74540.508724,21137.059263,57650.931034,0.270533

In [10]:
socioeco.head(2)

,FIPS,State,County,PCT_NHWHITE10,PCT_NHBLACK10,PCT_HISP10,PCT_NHASIAN10,PCT_NHNA10,PCT_NHPI10,PCT_65OLDER10,PCT_18YOUNGER10,MEDHHINC15,POVRATE15,PERPOV10,CHILDPOVRATE15,PERCHLDPOV10,METRO13,POPLOSS10
0,1001,AL,Autauga,77.246156,17.582599,2.400542,0.855766,0.397647,0.040314,11.995382,26.777959,56580.0,12.7,0,18.8,0,1,0.0
1,1003,AL,Baldwin,83.504787,9.308425,4.384824,0.735193,0.628755,0.043343,16.771185,22.987408,52387.0,12.9,0,19.6,0,1,0.0

In [13]:
regression_long = pd.DataFrame()

regression_long['state'] = insecurity.groupby(['State'])['State'].head(1)
regression_long['state_FOODINSEC_10_12'] = insecurity.groupby(['State'])['FOODINSEC_10_12'].head(1)
regression_long['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_long.reset_index(drop=True, inplace=True)

normalize_state_data(access, regression_long, 'LACCESS_POP15', 'state_LACCESS_POP15')
normalize_state_data(access, regression_long, 'LACCESS_LOWI15', 'state_LACCESS_LOWI15')

normalize_state_data(resturants, regression_long, 'FFRPTH14', 'state_FFRPTH14')

normalize_state_data(socioeco, regression_long, 'PCT_NHWHITE10', 'state_PCT_NHWHITE10')
normalize_state_data(socioeco, regression_long, 'PCT_NHBLACK10', 'state_PCT_NHBLACK10')
normalize_state_data(socioeco, regression_long, 'PCT_HISP10', 'state_PCT_HISP10')
normalize_state_data(socioeco, regression_long, 'PCT_NHBLACK10', 'state_PCT_NHBLACK10')
normalize_state_data(socioeco, regression_long, 'PCT_NHASIAN10', 'state_PCT_NHASIAN10')
normalize_state_data(socioeco, regression_long, 'PCT_NHNA10', 'state_PCT_NHNA10')
normalize_state_data(socioeco, regression_long, 'PCT_NHPI10', 'state_PCT_NHPI10')

normalize_state_data(stores, regression_long, 'GROCPTH14', 'state_GROCPTH14')


regression_long.head()

,state,state_FOODINSEC_10_12,state_FOODINSEC_13_15,state_LACCESS_POP15,state_LACCESS_LOWI15,state_FFRPTH14,state_PCT_NHWHITE10,state_PCT_NHBLACK10,state_PCT_HISP10,state_PCT_NHASIAN10,state_PCT_NHNA10,state_PCT_NHPI10,state_GROCPTH14
0,AL,17.9,17.6,7708.624532,2241.191144,0.316919,50.622066,1.131494,3.704812,4.799088,32.305072,0.436701,0.729979
1,AK,12.1,13.3,14371.804328,5651.092540,0.583157,66.101869,28.250668,3.190245,0.571305,0.639322,0.032018,0.185682
2,AZ,19.7,19.2,7838.947589,3399.598632,0.527303,76.993259,15.771596,4.563118,0.619434,0.601408,0.056076,0.185442
3,AR,14.9,14.9,83623.853433,32146.580382,0.530911,52.825171,1.646774,29.706499,1.115570,12.984622,0.122570,0.152614
4,CA,15.6,12.6,74540.508724,21137.059263,0.646967,57.095504,3.041599,28.472368,6.494957,1.727157,0.256600,0.270533

In [5]:
if 'regression_short.csv' not in os.listdir('../data/processed'):
    regression_short.to_csv('../data/processed/regression_short.csv', index=False)

In [14]:
50.622066 + 1.131494 + 3.704812 + 4.799088 + 32.305072 + 0.436701

92.99923299999999