In [1]:
import os
import pandas as pd

Place holder. Change to reading from SQL csv.

In [2]:
access = pd.read_csv('../data/interim/access.csv')
insecurity = pd.read_csv('../data/interim/insecurity.csv')
socioeco = pd.read_csv('../data/interim/socioeconomic.csv')
stores = pd.read_csv('../data/interim/stores.csv')

In [3]:
def normalize_state_data(df, col_name, new_col_name):
    """Gives the state mean of county data for a given feature.
    
    Args:
        df(var): The name of the dataframe which you are pulling the col_name from.
        col_name(str): A given column name.
        new_col_name(str): A new name for the regression_short dataframe. Name must began with 'state_'.
    
    Returns:
        regression_short(dataframe): With a new column appended.
    """
    county_count_per_state = df.groupby(['State'])['FIPS'].count()
    temp = pd.DataFrame(df.groupby(['State'])[col_name].sum()/county_count_per_state)
    temp.reset_index(drop=True, inplace=True)
    
    if new_col_name not in list(regression_short.columns):
        regression_short[new_col_name] = temp[0]

Creating the dataframe for linear regression.

In [4]:
regression_short = pd.DataFrame()

regression_short['state'] = insecurity.groupby(['State'])['State'].head(1)
regression_short['state_FOODINSEC_10_12'] = insecurity.groupby(['State'])['FOODINSEC_10_12'].head(1)
regression_short['state_FOODINSEC_13_15'] = insecurity.groupby(['State'])['FOODINSEC_13_15'].head(1)
regression_short.reset_index(drop=True, inplace=True)

normalize_state_data(access, 'LACCESS_POP15', 'state_LACCESS_POP15')
normalize_state_data(access, 'LACCESS_LOWI15', 'state_LACCESS_LOWI15')
normalize_state_data(socioeco, 'MEDHHINC15', 'state_MEDHHINC15')
normalize_state_data(stores, 'GROCPTH14', 'state_GROCPTH14')

,state,state_FOODINSEC_10_12,state_FOODINSEC_13_15,state_LACCESS_POP15,state_LACCESS_LOWI15,state_MEDHHINC15,state_GROCPTH14
0,AL,17.9,17.6,7708.624532,2241.191144,59520.448276,0.729979
1,AK,12.1,13.3,14371.804328,5651.092540,39830.104478,0.185682
2,AZ,19.7,19.2,7838.947589,3399.598632,38592.680000,0.185442
3,AR,14.9,14.9,83623.853433,32146.580382,44016.733333,0.152614
4,CA,15.6,12.6,74540.508724,21137.059263,57650.931034,0.270533

In [5]:
if 'regression_short.csv' not in os.listdir('../data/processed'):
    regression_short.to_csv('../data/processed/regression_short.csv', index=False)