To do:
- Convert reg_y into a (51,1) matrix
- Run a linear regression
    * Find important features
    
- Not sure I should use both LACCESS_POP15 and LACCESS_LOWI15
    * Highly correlated with each other

In [1]:
import numpy as np
import pandas as pd

from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LinearRegression

In [2]:
regression_short = pd.read_csv('../data/processed/regression_short.csv')

regression_short.head(2)

,state,state_FOODINSEC_10_12,state_FOODINSEC_13_15,state_LACCESS_POP15,state_LACCESS_LOWI15,state_MEDHHINC15,state_GROCPTH14
0,AL,17.9,17.6,7708.624532,2241.191144,59520.448276,0.729979
1,AK,12.1,13.3,14371.804328,5651.092540,39830.104478,0.185682

In [22]:
#type(list(regression_short.columns))

type(lm.coef_)

numpy.ndarray

In [3]:
reg_X = regression_short.loc[:, ('state_FOODINSEC_10_12',
                                 'state_LACCESS_POP15',
                                 'state_LACCESS_LOWI15',
                                 'state_MEDHHINC15', 
                                 'state_GROCPTH14')]

reg_y = regression_short['state_FOODINSEC_13_15'].values

reg_y = reg_y.reshape(-1, 1)

In [5]:
reg_X.corr()

,state_FOODINSEC_10_12,state_LACCESS_POP15,state_LACCESS_LOWI15,state_MEDHHINC15,state_GROCPTH14
state_FOODINSEC_10_12,1.000000,-0.154357,0.018296,-0.488448,-0.095719
state_LACCESS_POP15,-0.154357,1.000000,0.877161,0.528153,-0.282063
state_LACCESS_LOWI15,0.018296,0.877161,1.000000,0.242341,-0.380693
state_MEDHHINC15,-0.488448,0.528153,0.242341,1.000000,0.203532
state_GROCPTH14,-0.095719,-0.282063,-0.380693,0.203532,1.000000

In [37]:
feat = ['state_FOODINSEC_10_12', 'state_LACCESS_POP15',
        'state_LACCESS_LOWI15', 'state_MEDHHINC15', 
        'state_GROCPTH14']

In [4]:
scaler = MinMaxScaler()

scaler.fit(reg_X)
scaler.fit(reg_y)

reg_X = scaler.transform(reg_X)
reg_y = scaler.transform(reg_y)

In [41]:
lm = LinearRegression().fit(reg_X, reg_y)


lm.score(reg_X, reg_y)

0.7129291002824232

In [39]:
pd.DataFrame(list(zip(feat, lm.coef_.T)), columns=['feature', 'estimated_coefficient'])

                 feature     estimated_coefficient
0  state_FOODINSEC_10_12       [0.770699564258078]
1    state_LACCESS_POP15   [9.295261319867948e-06]
2   state_LACCESS_LOWI15  [-8.403874273070798e-05]
3       state_MEDHHINC15  [-6.685425000559802e-05]
4        state_GROCPTH14    [-0.20184078718529377]