In [3]:
import pandas as pd
import numpy as np

In [5]:
df = pd.read_csv('new_york_hotels.csv', encoding='cp1252')

In [8]:
df.head(2)

,ean_hotel_id,name,address1,city,state_province,postal_code,latitude,longitude,star_rating,high_rate,low_rate
0,269955,Hilton Garden Inn Albany/SUNY Area,1389 Washington Ave,Albany,NY,12206,42.68751,-73.81643,3.0,154.0272,124.0216
1,113431,Courtyard by Marriott Albany Thruway,1455 Washington Avenue,Albany,NY,12206,42.68971,-73.82021,3.0,179.0100,134.0000

In [10]:
def haversine(lat1, lon1, lat2, lon2):

    miles = 3959
    lat1, lon1, lat2, lon2 = map(np.deg2rad, [lat1, lon1, lat2, lon2])
    dlat = lat2 - lat1
    dlon = lon2 - lon1
    a = np.sin(dlat/2)**2 + np.cos(lat1) * np.cos(lat2) * np.sin(dlon/2)**2
    c = 2 * np.arcsin(np.sqrt(a)) 
    total_miles = miles * c
    
    return total_miles

In [13]:
def haversine_looping(df):
    distance_list = []
    for i in range(0, len(df)):
        d = haversine(40.671, -73.985, df.iloc[i]['latitude'], df.iloc[i]['longitude'])
        distance_list.append(d)

    return distance_list

In [14]:
%%timeit

df['distance'] = haversine_looping(df)

903 ms ± 75.6 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [16]:
%%timeit

distance_list2 = []
for index, row in df.iterrows():
    distance_list2.append(haversine(40.671, -73.985, row['latitude'], row['longitude']))

df['distance'] = distance_list2

231 ms ± 21.5 ms per loop (mean ± std. dev. of 7 runs, 1 loop each)

In [18]:
%%timeit

df['distance'] = df.apply(lambda row: haversine(40.671, -73.985, row['latitude'], row['longitude']), axis=1)

117 ms ± 8.9 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [20]:
%%timeit

df['distance'] = haversine(40.671, -73.985, df['latitude'], df['longitude'])

2.2 ms ± 288 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [21]:
%%timeit


df['distance'] = haversine(40/671, -73.985, df['latitude'].values, df['longitude'].values)

440 µs ± 48.7 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)